@use "../global" as global;
.p-logo-splash {
    position: fixed;
    inset: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: none;
  }
  
  .p-logo-splash__logo {
    width: 150px;
    opacity: 1;
    transform: scale(1);
  }
  .line-logo {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 8px;
}

.fill-logo {
    fill: #000;
    opacity: 0;
}