.c-btn {
    display: flex;
    width: 200px;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #3B82F6;
    color: #fff;

    &.c-btn--secondary {
        background: #1E293B;
    }
}