.c-contact-button {
    display: flex;
    padding: 7.5px 24px 8.5px 25px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.312px;
    border-radius: 4px;
    background: #3B82F6;

}