@use "../global" as global;

.c-card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 12px;
    padding: 33px;
    width: 298.664px;
    height: 201px;
}

.c-card__icon {
    width: 40px;
    height: 40px;

    img {
        width: 100%;
    }

}

.c-card__title {
    color: #E8EAF0;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    /* 150% */
    letter-spacing: -0.439px;
}

.c-card__text {
    color: #94A3B8;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.15px;
}