@use "../global" as global;

.c-kpi {}

.c-kpi__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.c-kpi__value {
    color: #3B82F6;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    /* 100% */
    letter-spacing: 0.352px;
}

.c-kpi__label {
    color: #94A3B8;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.15px;
}