@use "../global" as global;

.c-sectionTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-sectionTitle__en {
    color: #D4183D;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.15px;
}

.c-sectionTitle__jp {
    color: #E8EAF0;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    /* 150% */
    letter-spacing: 0.371px;
}